@page
@model HRMSApplication.Setup.Units.IndexModel
@{
}

<h2 class="my-3">Units</h2>
<div class="col">
	<a class='btn btn-primary' href='/Setup/Units/Create'>New Unit</a>
</div>



<table class="table">
	<thead>
		<tr>
			<th>Code</th>
			<th>Section </th>
			
			

		</tr>
	</thead>
	 @foreach(var item in Model.listEmployees)
        {
		<tbody>
			<tr>
				<td>@item.Code               </td>
				<td>@item.Section				  </td>
				
				<td style="white-space:nowrap">
					
					<a class="btn btn-danger btn-sm" href="/Setup/Units/Delete?Code=@item.Code">Delete</a>
				</td>
			</tr>
			</tbody>
			}
</table>