@page
@model HRMSApplication.Setup.Mainalls.IndexModel
@{
}

<h2 class="my-3">Staff Allowance</h2>
<div class="col">
	<a class='btn btn-primary' href='/Setup/mainalls/Create'>New Allownace</a>
</div>



<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			
			

		</tr>
	</thead>
	 @foreach(var item in Model.listMainalls)
        {
		<tbody>
			<tr>
				<td>@item.AllowID            </td>
				<td>@item.AllowName		  </td>
				
				<td style="white-space:nowrap">
					
					<a class="btn btn-danger btn-sm" href="/Setup/Mainalls/Delete?AllowID=@item.AllowID">Delete</a>
				</td>
			</tr>
			</tbody>
			}
</table>