@page
@model HRMSApplication.Setup.Varalls.IndexModel
@{
}

<h2 class="my-3">Variance Allowance</h2>
<div class="col">
	<a class='btn btn-primary' href='/Setup/Varalls/Create'>New Allowance</a>
</div>



<table class="table">
	<thead>
		<tr>
			<th>AllowID</th>
			<th>Name</th>
			<th>Amount</th>
			
			

		</tr>
	</thead>
	 @foreach(var item in Model.listVaralls)
        {
		<tbody>
			<tr>
				<td>@item.AllowID            </td>
				<td>@item.AllowName				  </td>
				<td>@item.Value1					  </td>
				
				<td style="white-space:nowrap">
					
					<a class="btn btn-danger btn-sm" href="/Setup/Varalls/Delete?AllowID=@item.AllowID">Delete</a>
				</td>
			</tr>
			</tbody>
			}
</table>